body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  background-color: #2C2E43;
  border-radius: 30px;
}
